body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.form {
    display: none;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    color: #555;
}

p a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

p a:hover {
    text-decoration: underline;
}

#loginForm {
    display: block;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}
